<div>
    <h1>Login</h1>
    <form id="loginAdmin">
        <label>Email</label>
        <input name="email">
        <br/>
        <label>Contraseña</label>
        <input type="password" name="password">
        <input type="submit">
    </form>
</div>
<script src="../public/js/admin.js"></script>